@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  color: #2c2c2b;
  transition: 0.25s ease;
  line-height: 1.5em;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
main {
  overflow: hidden;
}
p,
span {
  font-size: 1.3em;
}

.promocoes .content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2.5em;
}

.plan {
  border-radius: 16px;
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  width: 32%;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  height: 100%;
  position: relative;
}
.plan .inner div {
  display: flex;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
}
.plan .inner button {
  width: fit-content;
  padding: 1em;
  position: absolute;

  bottom: 0;
  right: 0;
}
.plan .inner button i {
  font-size: 1.5em;
  color: white;
}
.plan .title {
  font-weight: 600;
  color: #425675;
}
button {
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  padding: 0.625em 0.75em;
  text-decoration: none;
}
.btn-green {
  background-color: #4cd372;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #44ba65;
}
.btn-purple {
  background-color: #6938ca;
}
.btn-purple:hover,
.btn-purple:focus {
  background-color: #4133b7;
}

.app img {
  margin-top: -10em;
  width: 38em;
}

.app .content {
  display: flex;
  justify-content: space-between;
}
.app .content .download p,
.app .content .download h3 {
  margin: 2em 0;
}

.faq-container {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-answer {
  font-size: 16px;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
}

.icon-container i {
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-container i.active {
  transform: rotate(90deg);
}

::selection {
  background-color: #4cd372;
  color: #fff;
}

::-moz-selection {
  background-color: #4cd372;
  color: #fff;
}
.cell-phone {
  position: absolute;
  right: 4%;
  z-index: 99;
  top: 25%;
  width: 29em;
}
.square {
  width: 58em;
  height: 31vh;
  position: absolute;
  background-color: #fff;
  z-index: 99;
}

.square:nth-child(1) {
  right: 0%;
  top: -10%;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 210px 40.33%);
}

.hero {
  display: inline-block;
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
}

.diagonal-hero-bg button {
  margin-top: 2em;
  width: fit-content;
}

section {
  padding: 8em 10em;
  background-color: #fff;
}

.sobre-nos {
  display: flex;
  flex-direction: column;
  gap: 4em;
  height: 129vh;
  justify-content: center;
}
.h2-section {
  font-size: 2.5em;
}

.sobre-nos .card {
  height: max-content;
  border-radius: 10px;
  border-bottom: 7px solid #4cd372;
  background-color: #f9f9f9;
  padding: 1em;
  display: flex;
  width: 32%;
  margin: 1em 0em;
  opacity: 1;
  flex-direction: column;
}
.sobre-nos .card:hover {
  transform: translateY(-5px);
}

.sobre-nos .card .header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}
.sobre-nos .card p {
  margin-bottom: 1em;
  text-align: start;
}
h3 {
  font-size: 1.5rem;
}
.sobre-nos .card h3 {
  color: #448857;
}
.sobre-nos .card i {
  color: #4cd372;
}
.sobre-nos .card i {
  font-size: 2em;
  background-color: #dcf4e3;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}
.diagonal-hero-bg {
  width: 100%;
  height: 100%;
  padding: 5em;
  background: #d8f9e1;
  z-index: -1;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  align-items: center;
}
.missao {
  display: flex;
  flex-direction: column;
}

.missao .content {
  display: flex;
  width: 100%;
  margin-top: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.faq .contato {
  margin: 1em 0;
}
.faq .contato a {
  text-decoration: underline;
}
.faq .contato a:hover {
  text-decoration: none;
  cursor: pointer
}
.nav .center {
  display: flex;
  gap: 1em;
}

.diagonal-hero-bg img {
  width: 27em;
}

nav .bx {
  font-size: 2em;
}

.diagonal-hero-bg h2 {
  font-size: 4em;
}

.diagonal-hero-bg h3 {
  font-size: 2em;
}
.title i {
  color: white;
  background-color: #6938ca;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5em;
}
.title {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
}
.promocoes {
  background-color: #d8f9e1;
}
.promocoes .card {
  overflow: hidden;
  border-radius: 0.5rem;
  width: 32%;
  background-color: #fff;
}

nav {
  display: flex;
  padding: 0 4em;
  width: 100%;
  background: #fff0;
  z-index: 100;
  align-items: center;
  position: fixed;
  transition: box-shadow 0.3s;
  transition: height 0.3s;
  transition: background 0.3s;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav .logo {
  transition: width 0.3s;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  align-items: center;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #2c2c2b;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #4cd372;
}

h1 {
  font-weight: bold;
}


nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}
nav .menu-btn {
  position: absolute;
}

#logo-responsiva {
  display: none;
}

.search-container {
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 10px;
}

input {
  border-radius: 10px;
  outline: 0;
  border: 0;
  padding: 0.6em;
  width: 100%;
}

footer button {
  padding: 0.6em 1em;
  font-weight: 600;
}

footer {
  background-color: black;
  width: 100%;
  padding: 5em 2em;
  gap: 5em;
  color: white;
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
  width: fit-content;
}

footer a:hover {
  text-decoration: underline;
}

footer .logo {
  margin-bottom: 1em;
}

footer .contato {
  width: 30em;
}

footer .contato-container {
  gap: 0.5em;
}

footer .row {
  gap: 5em;
}

footer h3 {
  color: #4cd372;
}

footer .links {
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.teste {
  background-color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #4cd372;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #4cd372;
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #logo-responsiva {
    display: block;
  }

  #logo-responsiva-meio {
    display: none;
  }

  nav {
    justify-content: space-around;
    padding: 0;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    z-index: 5;
    position: absolute;
    top: 80px;
    left: -100%;
    background: rgb(15, 15, 15);
    width: 100%;
    border-radius: 0 0 20px 20px;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

@media (max-width: 370px) {
}
